<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbox - Home</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <h1>Welcome to SmartConnect!</h1>
        <nav>
            <a href="login.html">Login</a>
            <a href="register.html">Register</a>
        </nav>
    </header>
    <main>
        <h2>About SmartConnect</h2>
        <p>Connect and get personalized responses through a custom-built API</p>
        <div id="chatbox">
            <div id ="messages"></div>
            <textarea id="messageInput" placeholder="Type your message..."></textarea>
            <button id="sendButton">Send</button>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 SmartConnect App</p>
    </footer>
    <script src="../static/js/chatbot.js"></script>
</body>
</html>
